.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color-dark);
    font-family: var(--montserrat), sans-serif;
    padding: var(--size-24px) var(--size-40px);
}
.logo{
    color: var(--text-color-light);
    font-size: var(--size-24px);
    font-weight: bold;
    line-height: var(--size-32px);
}
.navigation{
    list-style: none;
    display: flex;
    gap: var(--size-16px);
}
.navigationItem > a{
    text-decoration: none;
    color: var(--text-color-light-grey);
    font-size: var(--size-16px);
    font-weight: bold;
}