.selectInput{
    width: 100%;
    max-width: 28.125rem;
    background-color: var(--background-color-light);
    border: 1px solid var(--light-grey-2);
    color: var(--text-color-dark-grey);
    font-family: var(--montserrat);
    font-size: var(--size-14px);
    border-radius: var(--size-4px);
    padding: var(--size-18px);
    appearance: none;
    background-repeat: no-repeat;
    background-position: right 18px center;
    background-image: url('data:image/svg+xml,<svg width="15" height="8" viewBox="0 0 15 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.49219 -0.000488281L7.49219 4.99951L12.4922 -0.000488281L14.4922 0.999511L7.49219 7.99951L0.492191 0.999511L2.49219 -0.000488281Z" fill="%23737373"/></svg>');
}
.selectOption:first-child{
    display: none;
}
.previewWrapper{
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.image{
    position: initial;
    width: 506px;
    height: 450px;
    display: none;
    object-fit: fill;
}
.currentImage{
    display: block;
}
.addForm{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--size-32px) var(--size-50px);
}
.indicatorsRow{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--size-14px);
    padding-top: var(--size-16px)
}
.indicator{
    width: 100px;
    height: 75px;
    border:none;
    cursor: pointer;
}
.indicator:hover{
    border: 1px solid black;
}
.indicatorImage{
    position: initial;
    object-fit: fill;
    width: 100%;
    height: 100%;
}