:root {
  --font-family-headings: "Montserrat";
  --font-family-body: "DM Sans";
  --primary: #0ACF83;
  --default: #000000;
  --accent: #FFC120;
  --dark-grey-1: #7F7F7F;
  --grey: #BABABA;
  --light-grey-2: #F3F3F3;
  --light-grey-1: #F6F6F6;
  --white: #FFFFFF;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-display: swap;
}